<div class="container-fluid">
    <h1><img width = "50" src="../assets/images/urlshortdisp.png" alt="">URL Shortener</h1>
    <div class="row pt-1">
        <div class="col-8 pr-0">
            <input [(ngModel)]="originalUrl" type="url" class="form-control" id="originalUrl" name="originalUrl" type="text"
                placeholder="Enter original URL here">
        </div>
        <div class="col"><button (click)="onSubmit()" class="btn btn-primary">Shorten URL</button></div>
    </div>
    <div class="row mt-2">
        
        <div class="jumbotron text-center col-md-10" *ngIf="isShow">
            {{result}}
        </div>
    </div>
</div>